$primary-color: #fff;

.info-container {
  height: calc(100vh - 57px);
  font-family: "Montserrat", sans-serif;
  background: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 100%;
  width: 100%;
  display: flex;
  > div:nth-of-type(1) {
    text-align: center;
    margin-top: 2%;
    margin-left: 4%;
    > p {
      background: #afb4ff;
    }
  }
  form {
    width: 500px;
    margin-left: 20px;
  }
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }
}

.info-form-container {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  .form-container {
    width: 100% !important;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      margin-bottom: 1.5rem;
      width: 100%;
    }

    .MuiButton-containedPrimary {
      margin-top: 2rem;
      color: #fff;
      font-weight: 600;

      &:hover {
      }
    }
  }
}
