.card-gb {
  text-align: right;
  font-size: 26px;
  color: #999;
  position: absolute;
  right: 0;
  top: -4px;
  svg {
    font-size: 18px;
    position: relative;
    cursor: pointer;
    top: 2px;
    right: 6px;
  }
}
.typo-newMap{
  // height: 170px;
  > div{
    height: 100% !important;
  }
}