.map {
  button[aria-label="关闭"] {
    display: none !important;
  }
  .gm-style-iw-d {
    > div > div {
      margin-left: 8px;
    }
  }
  .location {
    width: 42px;
    height: 42px;
    position: fixed;
    right: 10px;
    bottom: 190px;
    background: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img {
      width: 25px;
      height: 26px;
    }
  }
}
